 .Jalawa{
   color: rgb(231, 9, 183);
}
body {
    background-color: rgb(229, 248, 60);
}
#Myid {
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(161, 15, 15);
}
input[type="button"] {
    color: rgb(1, 14, 9);
    background-color: rgb(165, 103, 103);
    font-weight: bold;
    margin-left: 600px;
    
}